---
import Logger from "./Logger.astro";

export interface Props {
  title: string;
  isLogged: boolean;
}

const { title, isLogged } = Astro.props;
---

<header>
  <a href="/"><img src="/logo.png" alt="" /></a>
  <h1>{title}</h1>
  {isLogged ? <Logger /> : ""}
</header>
<style lang="scss">
  header {
    background: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    padding: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;

    img {
      width: 100px;
    }

    h1 {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
  }
</style>
